


<!-- <app-navbar/> -->
<!-- <router-outlet /> -->


<div class="main-layout">
  <div class="sidebar-container">
    <app-manager-dashboard></app-manager-dashboard>
  </div>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>





<!-- git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/ClassyKaran/HrmsFrontend.git
git push -u origin main -->


<!-- git remote add origin https://github.com/ClassyKaran/HrmsFrontend.git
git branch -M main
git push -u origin main -->
