<h5 class="text-start p-3">Helpdesk</h5>
 
  <div class="tabs-container">
    <button class="btn btn-primary tab-button">Active</button>
    <button class="btn btn-outline-primary tab-button">Closed</button>
  </div>
 
  <div class="tab-content-box">
    <img src="https://cdn-icons-png.flaticon.com/512/4086/4086679.png" alt="No Items" />
    <p>No helpdesk items</p>
  </div>
 
  <div class="footer">
    v6.3.0-prod-1043 | <a href="#">Privacy Policy</a> | <a href="#">Terms Of Service</a>
  </div>
 
